.IntroBox {
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
  }



@media (max-width:599px) {

    .IntroBox {
        box-sizing: border-box;
    }
}