#CodeInputBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px 60px 30px 60px;
    box-sizing: border-box;
    font-size: 18px;
}

#ClassCodeInput {
    width: 234px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    font-size: 16px;
}

#ClassCodeInput::placeholder{
    color: #bdbdbd;
}

#ClassCodeInput:focus{
    outline: none;
    border: 1px solid #212121;
}

#EnrollBtn {
    width: 234px;
}