input[type=text] {
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=text]::placeholder {
    color: #b7bfc7;
}

input[type=text]:focus {
    outline-color: #3d8add;
}

.Toggles {
    margin-bottom: 20px;
}

.ToggleBtn {
    display: inline-block;
    padding: 8px 12px 8px 12px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #222;
    cursor: pointer;
}

#Ans {
    border-color: rgb(30, 144, 30);
    color: rgb(10, 80, 10);
    margin-right: 8px;
}

#Ans:checked {
    background-color: rgb(30, 144, 30);
    color: white;
}

#Dist {
    border-color: rgb(220, 51, 51);
    color: rgb(205, 0, 0);
}

#Dist:active {
    background-color: rgb(220, 51, 51);
    color: white;
}

#SubmitBtn {
    margin-top: 20px;
}