.SideTab {
    width: 100vw;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    background-color: #f7fafd;
    box-shadow: 0px 0px 16px rgba(40, 40, 40, 0.16);
    box-sizing: border-box;
    z-index: 5;
}

#Logo {
  font-size: 20px;
  font-weight: 700;
  color: #3d8add;
  cursor: pointer;
}

.ProfileImg {
  background-image: '';
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #346191;
  cursor: pointer;
}

.Menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #212121;
  align-items: center;
  font-size: 14px;
}

.MenuBtn:hover {
  color: #3d8add;
  cursor: pointer;
}

@media (max-width: 599px) {
  .SideTab {
    padding: 12px;
  }

  #Logo {
    font-size: 16px;
  }
  .Menu {
    flex-direction: column;
    font-size: 14px;
    display: none;
    padding-top: 48px;
    padding-bottom: 20px;
  }
  .MenuBtn {
    padding: 4px 0 4px 0;
  }
  .ProfileImg {
    width: 28px;
    height: 28px;
  }
  }