.SideTab {
    width: 100vw;
    height: 60px;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    background-color: #f7fafd;
    box-shadow: 0px 0px 16px rgba(40, 40, 40, 0.16);
    box-sizing: border-box;
    z-index: 5;
}

#Logo {
  font-size: 20px;
  font-weight: 700;
  color: #3d8add;
  cursor: pointer;
}
#Logo:hover {
  color: #346191;
}

.ProfileImg {
  display: none;
  background-image: '';
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #346191;
  cursor: pointer;
}

.Menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}

.MenuBtn {
  line-height: 60px;
  vertical-align: middle;
  border-bottom: 2px solid rgba(0,0,0,0);
}

.MenuBtn:hover {
  color: #3d8add;
  border-color: #3d8add;
  cursor: pointer;
}

@media (max-width: 599px) {
  .SideTab {
    padding: 12px;
    height: auto;
    align-items: start;
  }

  #Logo {
    font-size: 16px;
  }
  .Menu {
    display: none;
    flex-direction: column;
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 20px;
  }
  .MenuBtn {
    line-height: initial;
    text-align: center;
    padding: 4px 0 4px 0;
    border: none;
  }
  .ProfileImg {
    width: 28px;
    height: 28px;
    display: flex;
  }
  }