html {
  background-color: #e6eaef;
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.Box {
  width: 70vw;
  position: absolute;
  top: 80px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

button {
  width: 100%;
  height:48px;
  padding: 16px;
  border-radius: 6px;
  border: none;
  background-color: #3d8add;
  color: white;
  font-size: 16px;
}
button:hover{
  background-color: #205e9f;
  cursor: pointer;
}
button:disabled{
  background-color: #bdbdbd;
}



@media (max-width: 599px) {
  .App {
    flex-direction: column;
  }

  .Box {
    width: calc(100vw - 40px);
    margin: 0 20px 0 20px;
    top: 50px;
  }
}
